.account-header-logo {
  width: 20px;
  height: 17px;
  object-fit: contain;
  vertical-align: middle;
  padding-right: 10px;
}

.application-header {
  border-radius: 2px;
  background: rgb(103, 120, 137, 0.3);
  text-align: center;
  padding: 10px;
}
